.footerMain{
    margin-top: 220px;
    background:#F9F9FB;
    .countainer{
        margin: 50px auto;
        margin-bottom: 0;
        max-width: 1200px;
        width: 100%;
    
        .left{
            padding-top: 70px;
    
            p{
                text-align: center;
                font-size: 2.2vh;
                font-family: Mulish;
                color: #848484;
            }
        }
    
        .right{
           
        }

    }
}